<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

<!--    link bootstrap-->
    <th:block th:insert="~{/layout/layout::library}"></th:block>

    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/header.css">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>

<div th:insert="~{/layout/layout::header}"></div>

<div class="container-fluid">

    <!--    layuot thứ 1 : (4 phần theo hàng ngang)-->
    <div class="main-layout">
        <!--        phần nội dung(3 phần. Theo hàng ngang hiển thị form tìm kiếm)-->
        <main class="main-content">
            <div class="search-wrapper">
                <div class="search-tabs">
                    <a class="tab " href="/posts/sale">Nhà đất bán</a>
                    <a class="tab " href="/posts/rent">Nhà đất cho thuê</a>
                    <button class="tab">Dự án</button>
                    <div class="switch">
                        <label for="toggle-search">Dùng phiên bản Tìm kiếm mới</label>
                        <input type="checkbox" id="toggle-search" checked/>
                    </div>
                </div>
                <form method="get" action="/home/search">
                    <div class="search-bar">
                        <div class="input-group">
                            <span class="icon"><i class="fas fa-search"></i></span>
                            <input type="text" placeholder="Trên toàn quốc" th:name="location" th:value="${searchDto.location}"/>
                            <button class="search-btn">Tìm kiếm</button>
                        </div>
                        <div class="filter-group">
                            <select th:name="type" th:value="${searchDto.type}">
                                <option value="">Loại nhà đất</option>
                                <option value="House">Nhà</option>
                                <option value="Apartment">Căn hộ</option>
                                <option value="Land">Đất</option>
                                <option value="Hotel">Khách sạn</option>
                                <option value="Building">Tòa nhà</option>
                            </select>
                            <select th:name="price" th:value="${searchDto.price}">
                                <option value="">Mức giá</option>
                                <option value="0">Dưới 1 tỷ</option>
                                <option value="1">1-3 tỷ</option>
                                <option value="2">Trên 3 tỷ</option>
                            </select>
                            <select th:name="area" th:value="${searchDto.area}">
                                <option value="">Diện tích</option>
                                <option value="0">Dưới 50m²</option>
                                <option value="1">50-100m²</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <!--        phần nội dung ở rìa phải(1 phần. Theo hàng ngang hiển thị ảnh)-->
        <aside class="sidebar">
            <img src="https://xaydungancu.com.vn/wp-content/uploads/2023/04/mau-nha-2-tang-mai-thai-o-nong-thon-26.jpg"
                 class="img-fluid custom-img" alt="...">
        </aside>
    </div>
</div>
<!--<div class="container-fluid">-->
<!--    &lt;!&ndash;    layuot thứ 2 : (4 phần theo hàng ngang)&ndash;&gt;-->
<!--    <div class="main-layout2">-->
<!--        &lt;!&ndash;        phần nội dung(3 phần)&ndash;&gt;-->
<!--        <main class="main-content2">-->

<!--        </main>-->

<!--        &lt;!&ndash;        phần nội dung ở rìa phải(1 phần. Theo hàng ngang )&ndash;&gt;-->
<!--        <aside class="sidebar2">-->

<!--        </aside>-->
<!--    </div>-->
<!--</div>-->

<div class="container-fluid">
    <!--    layuot thứ 3 : (4 phần theo hàng ngang)-->
    <div class="main-layout3">
        <div class="container">
            <div class="row">
                <h2>Bất động sản dành cho bạn</h2>
            </div>
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="post-list">
                <div th:each="post : ${posts}" class="post-item">
                    <h2 th:text="${post.title}"></h2>
                    <p><strong>Địa điểm:</strong> <span th:text="${post.location}"></span></p>
                    <p><strong>Loại:</strong> <span th:text="${post.type}"></span></p>
                    <p><strong>Giá:</strong> <span th:text="${post.price}"></span> VND</p>
                    <p><strong>Diện tích:</strong> <span th:text="${post.area}"></span> m²</p>
                    <p><strong>Mục đích:</strong> <span th:text="${post.purpose}"></span></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="main-layout4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--                   dùng card là link-->
                    <!--                    <a href="#!"-->
                    <!--                       class="no-underline link-opacity-0 link-black">-->
                    <div style="width: 75%;">
                        <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForSale.svg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Bất động sản bán</h5>
                            <p class="card-text">Bạn có thể tìm thấy ngôi nhà mơ ước hoặc cơ hội đầu tư hấp dẫn thông
                                qua lượng tin rao lớn, uy tín về các loại hình bất động sản bán tại Việt Nam, bao gồm
                                bán nhà riêng, bán nhà mặt tiền, bán căn hộ chung cư, bán biệt thự, bán đất, bán
                                shophouse và các loại hình BĐS khác.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="width: 75%;">
                        <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/ForRent.svg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Bất động sản cho thuê</h5>
                            <p class="card-text">Cập nhật thường xuyên và đầy đủ các loại hình bất động sản cho thuê
                                như: thuê phòng trọ, nhà riêng, thuê biệt thự, văn phòng, kho xưởng hay thuê mặt bằng
                                kinh doanh giúp bạn nhanh chóng tìm được bất động sản ưng ý.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="width: 75%;">
                        <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Projects.svg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Đánh giá dự án</h5>
                            <p class="card-text">Các video đánh giá tổng quan dự án cung cấp góc nhìn khách quan của các
                                chuyên gia về những dự án nổi bật tại Việt Nam, giúp bạn đưa ra quyết định đúng đắn cho
                                nơi an cư lý tưởng hoặc cơ hội đầu tư sinh lời.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="width: 75%;">
                        <img src="https://staticfile.batdongsan.com.vn/images/box-link-footer/Wiki.svg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>Wiki BĐS</h5>
                            <p class="card-text">Ngoài cập nhật những biến động thị trường, chúng tôi còn cung cấp kiến
                                ​​thức, kinh nghiệm về mua bán, cho thuê, đầu tư, vay mua nhà, phong thủy, thiết kế nhà,
                                mọi thông tin cần thiết để dẫn lối người tìm nhà tìm thấy căn nhà mơ ước.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal hiển thị thông báo -->
<div id="notificationModal" style="display: none;">
    <div>
        <p th:text="${message}"></p>
        <button onclick="closeModal()">Đóng</button>
    </div>
</div>

<!-- Script để hiển thị modal khi có thông báo -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const message = /*[[${message}]]*/ null;
        if (message) {
            document.getElementById("notificationModal").style.display = "block";
        }
    });

    function closeModal() {
        document.getElementById("notificationModal").style.display = "none";
    }
</script>

<div th:insert="~{/layout/layout::footer}"></div>
</body>
</html>